.item{
    min-height: 40rem;
   min-width:30rem;
    padding: 40px;

}

.item img{
    width: 100%;
    pointer-events: none;
    /* height: 100%; */
    

}
.inner-carousel{
    display: flex;
  
}

.carousel{
    cursor: grab;
    overflow: hidden;
   
}